:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/404BG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4fad56);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #4fad56);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cell{
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  background-color: #1a1a1a;
}

.cell.red {
  background-color: #88f384;
}

.cell.blue {
  background-color: #2ad417;
}

.cell.green {
  background-color: #178017;
}

.cell.yellow {
  background-color: #3bd503;
}

.cell.purple {
  background-color: #07ad12;
}

.cell.cyan {
  background-color: #0fc96c;
}

.cell.orange {
  background-color: #6eeb09;
}
.cell.pink {
  background-color: #024705;
}

.cell.grey {
  background-color: #0dc7c1;
}

.cell.rgb {
  background-color: #c517bc;
}

.cell.border {
 background-color: #c2b3b37f;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
